body{
    margin:0;
    overflow:hidden;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:100vh;
}
h1{
    margin:0;
    color:white;
    margin: 0px auto;
    padding:10px;
    text-align: center;
    
}

.legend{
    position: absolute;
    width: auto;
    text-align: center;
    z-index: 1;
    bottom:5px;
    margin:0 auto;
    width: 100vw;
    
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.legend p{
    display: flex-box;
    color: #0c0c0c;
    background-color: #c1c1c1;
    padding:8px;
    margin:4px;
    border-radius: 3px;
    font-size: 18px;
}

main{
    position: absolute;
    z-index: -1;
    top: 0;

}